alias c='clear'
alias rmf='rm -rf'
alias rm="echo Use 'rip' instead of rm."

# filesystem usage, default human readable sizes
alias df='df -h'
alias du='du -h'

# ls
alias le='eza -a -T -L=1 -1 -l --color auto --icons --group-directories-first --header --created --modified --time-style=long-iso --git --git-repos-no-status'
alias l='le --git-ignore'
alias ll='ls -FAGhl --group-directories-first --time-style=long-iso --color'
alias la='ls -A'
# alias lls='lsd -1AFl --total-size'

# Pretty print $PATH
alias ppath="tr ':' '\n' <<< \"$PATH\""

alias ping='gping --clear'

alias nano='nvim'
# alias nano='nano --rcfile ~/.nanorc'
alias vim='nvim'

# Git
alias gst="git status"

alias gsh="git stash -u"
alias gshp="git stash pop"

alias git-delete-untracked-branches="LANG=en_US git branch -vv | awk '/: gone]/{print $1}' | xargs -p git branch -D"
alias gdu="git-delete-untracked-branches"
# This is because another source added this alias and I want to overwrite it
alias gbgd="git-delete-untracked-branches"

alias gc="git commit --clean=strip"
alias gcm="git commit --clean=strip -m"

alias ga="git add --renormalize"

alias gl="git log --oneline --graph --decorate"
alias gla="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"
alias gls="gl --show-signature"
# Show all local branches and their upstreams
alias gbv='git branch -vv'
alias gbav='git branch --all -vv'

# Show changes in current working tree and/or index
alias gd='git diff --ignore-all-space --ignore-cr-at-eol' # Working tree
alias gdc="gd --cached" # Index
alias gda="gd HEAD" # All
alias gdaa="git diff HEAD" # ALL

alias gsc="git show HEAD"   # Show changes made by the current commit
alias gsp="git show HEAD~1" # Show changes made by the previous commit
alias gccd='f(){ git clone "$1" && cd "$(basename $1 .git)"; unset -f f; }; f'
# alias gsc="git diff HEAD^!"
# alias gsp="git diff HEAD~1^!"

alias gsm="git switch main"

# Graphite
alias gtc='gt create'
alias gtm='gt modify -p -m'
# alias gtm='f(){ gt modify -m $1; unset -f f; }; f' # Alternative way which allows passing multiple arguments if needed

alias gtl='gt log'
alias gtll='gt log long'

alias gtch='gt checkout'
alias gtrs='gt restack'
alias gtro='gt reorder'
alias gtct='gt continue'
alias gtcfg='gt config'

# Better Commits
alias bc="better-commits"
alias bca='git add -p && bc'
alias bb='better-branch'

# Supabase
alias sb="supabase"
alias sbs="supabase start"
alias sbk="supabase stop --no-backup"
alias sbd="supabase db"
alias sbm="supabase migration"

# Samara
alias release-patch='\
	git stash push -a -k && \
	NEW_VERSION=$(npm version patch --no-git-tag-version | cut -c 2-) && \
	git commit -a -m "chore(release): v$NEW_VERSION" && \
	git stash pop'
alias release-minor='\
	git stash push -a -k && \
	NEW_VERSION=$(npm version minor --no-git-tag-version | cut -c 2-) && \
	git commit -a -m "chore(release): v$NEW_VERSION" && \
	git stash pop'
alias release-major='\
	git stash push -a -k && \
	NEW_VERSION=$(npm version major --no-git-tag-version | cut -c 2-) && \
	git commit -a -m "chore(release): v$NEW_VERSION" && \
	git stash pop'

# gcloud
alias gcloud-switch='f(){ gcloud config configurations activate "$@" && gcloud auth login; unset -f f; }; f'
alias gcloud-project-number='gcloud projects describe $(gcloud config get-value core/project) --format=value\(projectNumber\)'
