[init]
	defaultBranch = main

[user]
	name="Bosco Domingo"
	email = "boscodomingob@gmail.com"
	signingkey = "68F987A3A162F29E"

[core]
	pager = delta
	eol = lf
	autocrlf = false
	editor = nvim

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	line-numbers = true
	side-by-side = true
	syntax-theme = DarkNeon
	diff-so-fancy = true

[merge]
	conflictstyle = diff3

[push]
	autoSetupRemote = true

[diff]
	colorMoved = default

[safe]
	directory = %(prefix)///wsl.localhost/Ubuntu/home/bosco/repos/
	directory = %(prefix)///wsl.localhost/Ubuntu/home/bosco/repos/*
	directory = %(prefix)///wsl.localhost/Ubuntu/home/bosco/repos/**/*
[rerere]
	enabled = true
	autoUpdate = true
[maintenance]
	repo = /home/bosco/repos/beam
	repo = /home/bosco/repos/samara-core
	repo = /home/bosco/repos/samara-website-backend
	repo = /home/bosco/repos/samara-website-frontend
	repo = /home/bosco/repos/discovery-call-backend
[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	add = add --renormalize
[commit]
	gpgsign = true
[tag]
	gpgsign = true
