[submodule ".config/cheat/cheatsheets/community"]
	path = .config/cheat/cheatsheets/community
	url = git@github.com:cheat/cheatsheets.git
[submodule ".oh-my-zsh/custom/plugins/zsh-completions"]
	path = .oh-my-zsh/custom/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
