# This repo's gitignore. Shouldn't be symlinked anywhere
.vscode
*.log
.DS_Store
.aider*

.config/ghostty/override_config
# They should be installed in the system using Leader + I inside tmux
.config/tmux/plugins
*_secret
.config/jj/repos/

# Micro writes themes, plugins, syntax files, backups, and buffers into its config dir.
.config/micro/backups/
.config/micro/buffers/
.config/micro/colorschemes/
.config/micro/plug/
.config/micro/syntax/
/micro/
!/micro/*.json
**/repos/

*package-lock.json
